[submodule "themes/timer-hugo"]
	path = themes/timer-hugo
	url = https://github.com/Lizhou31/timer-hugo.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/Lizhou31/LoveIt.git
