{{ if .Site.Params.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
					{{ with .Site.Params.about.title }}<h2>{{ . }}</h2>{{ end }}
					{{ with .Site.Params.about.content }}<p>{{ . | safeHTML }}</p>{{ end }}
					<p class="social-icons">
						{{ with .Site.Params.about.gmail}}
						<a href="{{ . }}" target="_blank">
							<i class="ion-email" style="font-size: 100px; color: #d4c4b7"></i>
						</a>
						{{ end }}
						{{ with .Site.Params.about.github}}
						<a href="{{ . }}" target="_blank">
							<i class="ion-social-github" style="font-size:100px; color: black"></i>
						</a>
						{{ end }}
					</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
					{{ with .Site.Params.about.image }}<img src="{{ . | absURL }}" alt="about-image">{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- About Section End -->" | safeHTML }}
{{ end }}